.body-page {
	flex: 1 1 auto;
	width: 200px;
	height: 100%;
	overflow: scroll;
	background: rgb(75, 71, 71);
	position: relative;
	&__hero-posts-log {
		background: rgb(95, 95, 95);
		width: 100%;
		height: auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: column;
		padding: 5px 5px 30px 5px;

		position: relative;
	}
	&__hero-posts-logs-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transition: 0.3s;
		padding: 0 0 100px 0;
	}
	&__reply-textarea {
		position: absolute;
		width: 500px;
		min-height: 100px;
		background: rgb(9, 85, 121);
		padding: 10px;
		border-radius: 10px;
		bottom: -0px;
		right: -100%;
		z-index: 20;
		transition: 0.5s linear;
		&.visible {
			right: 0;
		}
	}
	&__reply-textarea-input {
		width: 100%;
		height: auto;
		transition: 0.3s linear;
	}
	&__reply-textarea-buttons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 3px;
	}
}
