.body-page {
	flex: 1 1 auto;
	width: 200px;
	height: 100%;
	overflow: auto;
	position: relative;
	&__hero-posts-log {
		background: rgb(95, 95, 95);
		transition: 0.5s linear;
		width: 100%;
		height: auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		flex-direction: column;
		padding: 5px 5px 30px 5px;
		position: relative;
	}
	&__hero-posts-logs-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transition: 0.3s;
		padding: 0 0 100px 0;
	}
	&__reply-textarea {
		width: 60%;
		margin: 10px 0 -45px 100px;
		min-height: 0px;
		height: 0px;
		background: rgb(52, 63, 68);
		padding: 10px;
		border-radius: 10px;
		transition: 0.3s linear;
		opacity: 0;
		z-index: 20;
		overflow: hidden;
		&.visible {
			opacity: 1;
			min-height: 100px;
			height: auto;
		}
	}
	&__reply-textarea-input {
		width: 100%;
		height: auto;
		transition: 0.5s linear;
		background: rgb(201, 207, 211);
	}
	&__reply-textarea-buttons {
		transition: 0.5s linear;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 3px;
	}
}
