.body-main {
	background-image: url("/src/images/chiptextures.jpg");
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	position: relative;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: rgb(51, 51, 51);
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	padding: 5px;

	/* Position the tooltip */
	position: absolute;
	bottom: -30px;
	right: -40px;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
