.body-main {
	background-image: url("../../images/chiptextures.jpg");
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	position: relative;
}
.body-page {
	margin: 0;
	padding: 0;
	overflow: auto;
	flex: 1 1 auto;
	right: 0px;
	position: relative;
	transition: 0.3s linear;
	position: relative;
	&_cover {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(43, 43, 43);
		opacity: 80%;
		display: none;
		z-index: 15;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	background-color: rgb(51, 51, 51);
	color: #fff;
	font-size: 12px;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	bottom: -30px;
	right: -40px;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
@keyframes move {
	0% {
		right: 0%;
	}
	50% {
		right: 100%;
	}
	100% {
		right: 0%;
	}
}
