.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px 5px 20px;
	background: rgb(37, 33, 49);
	position: relative;
	height: 100px;
	z-index: 1;
}
.header__pictures {
	flex: 0 1 20%;
	display: flex;
	justify-content: space-between;
}
.header-nav-item {
	flex: 0 1 10%;
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-width: 50px;
	height: 50%;
	border-radius: 10px;
	background: rgb(56, 49, 85);
	justify-self: flex-start;
	cursor: pointer;
}

.header-nav-item:hover {
	background: rgb(33, 28, 49);
}
.header__hero-avatar {
	position: absolute;
	z-index: 3;
	top: 5%;
	height: 90%;
	border-radius: 50%;
	border-color: #363635;
	border-width: 3px;
	border-style: solid;
	filter: grayscale(100%);
	transition-property: all;
	transition-duration: 1000ms;
	transform: rotate(0deg);

}
.header__hero-avatar:hover {
	transform: rotate(360deg);
	filter: grayscale(0%);
}

.App-logo {
	height: 26vmin;
	pointer-events: none;
	position: absolute;
	right: -13vmin;
	top: -13vmin;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 60s linear;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
