.body-page {
	&__hero-page {
		display: block;
		position: relative;
	}
	&__background {
		top: 0;
		margin-bottom: 10px;
		width: 100%;
		position: relative;
		&_image {
		}
		&_status {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			min-width: 400px;
			max-width: 100%;
			width: auto;
			height: 50px;
			border-radius: 0 50px 0 0;
			border: 3px solid #888;
			background: rgb(63, 63, 63);
			padding: 0 20px;
			color: #fff;
			overflow: hidden;
			text-align: left;
		}
		&_status-input {
			color: #fff;
			width: 100%;
			height: 100%;
		}
		&_status-text {
			width: 100%;
			height: 100%;
			line-height: 40px;
		}
	}
	&__info {
		display: flex;
		padding: 10px;
		background: rgb(68, 68, 68);
		border-radius: 5px;
	}
	&__hero-bigavatar,
	.hero-avatar {
		width: 200px;
		height: 200px;
		border-radius: 10px;
		/* box-shadow: 0px 0px 10px 2px rgb(48, 214, 214); */
		animation: glow 1.5s ease-in-out infinite alternate;
		object-fit: cover;
	}
	&__hero-data {
		margin-left: 50px;
		display: block;
		text-align-last: left;
		width: 70%;
	}
	&__hero-data-item {
		padding: 4px 10px;
		margin: 1% 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgb(61, 61, 61);
		border-radius: 5px;
	}
	&__hero-contacts {
		width: 95%;
		height: auto;
		display: block;
		background: rgb(59, 59, 59);
		border-radius: 20px;
		padding: 10px;
		margin-bottom: 10px;
		text-align: left;

		&:last-child {
			margin-bottom: 100px;
		}
		&_title {
			padding: 5px;
			text-align-last: left;
			background: rgb(80, 80, 80);
			border-radius: 10px 10px 0 0;
			margin-bottom: 10px;
		}
		&_wrapper {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			flex-wrap: wrap;
		}
		&_text {
			height: auto;
			width: 100%;
			background: #000;
		}
		&_item {
			width: 120px;
			height: 150px;
			background: rgb(34, 25, 44);
			border-radius: 45% 45% 10px 10px;
			margin-right: 20px;
			display: block;
			position: relative;
			text-align: center;
		}
		&_picture {
			position: absolute;
			top: 5%;
			left: 10%;
			width: 80%;
			height: auto;

			max-height: 65%;
			border-radius: 50%;
		}
		&_status {
			position: absolute;
			bottom: 35px;
			right: 10px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: green;
			font-size: 18px;
		}
		&_name {
			position: absolute;
			bottom: 10px;
			width: 100%;
			font-size: 18px;
		}
	}

	&__hero-404 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 100px;
		&_picture {
		}
		&_text {
			font-size: 54px;
			color: rgb(44, 44, 44);
			font-weight: 900;
		}
	}
	&__authorization {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: stretch;
		padding: 50px;
		color: rgb(255, 248, 248);
		&_box {
			width: 60%;
			height: 500px;
			background: rgb(54, 48, 133);
			border-radius: 20px;
			padding: 50px 100px;
			position: relative;
		}
		&_buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			position: relative;
		}
		&_button {
			position: relative;
			z-index: 5;
			font-size: 24px;
			font-weight: 900;
			color: #035a5f;
			width: 200px;
			height: 40px;
			border-radius: 50px 50px;
			background: rgb(10, 52, 114);
			margin-bottom: 20px;
			bottom: 0px;
			transition: 0.3s;
			border-bottom: 5px solid rgb(17, 30, 63);
			padding: 5px;
			&:hover {
				color: #03e9f4;
				&:disabled {
					color: #f43b03;
				}
			}
			&:active {
				top: 5px;
				color: rgb(255, 251, 251);
				box-shadow: 0px 0px 5px #03e9f4, 0px 0px 7px #03e9f4, 0px 0px 10px #03e9f4, 0px 0px 15px #03e9f4;
				border-bottom: 0;
			}
		}
		&_input {
			color: #fff;
			font-size: 20px;
		}
	}
	&__registration {
		&_box {
			padding: 20px;
		}
		&_title {
			margin: 0;
		}
	}
}

.reginput {
	color: rgb(255, 255, 255);
}

@keyframes glow {
	from {
		box-shadow: 0 0 0px #fff, 0 0 5px #fff, 0 0 8px #0073e6, 0 0 12px #0073e6, 0 0 15px #0073e6, 0 0 19px #0073e6,
			0 0 35px #0073e6;
	}
	to {
		box-shadow: 0 0 0px #fff, 0 0 4px #fff, 0 0 7px #0073e6, 0 0 10px #0073e6, 0 0 13px #0073e6, 0 0 15px #0073e6,
			0 0 70px #0073e6;
	}
}
